<<<<<<< HEAD
.box {
    width: 100px;
    height: 100px;
    background-color: green;
    transition: all .3s;
    &:hover{
        background-color: hotpink;
    }
=======
.box {
    width: 100px;
    height: 100px;
    background-color: green;
    transition: all .3s;
    &:hover{
        background-color: hotpink;
    }
>>>>>>> 9a47c7bd55b64269917e311612a66adf17c1c743
}