<<<<<<< HEAD
ul {
    li {
        &:hover {
            background: green;
            cursor: pointer;
        }
        &:last-child {
            border-bottom: 2px solid black;
        }
    }
=======
ul {
    li {
        &:hover {
            background: green;
            cursor: pointer;
        }
        &:last-child {
            border-bottom: 2px solid black;
        }
    }
>>>>>>> 9a47c7bd55b64269917e311612a66adf17c1c743
}