<<<<<<< HEAD
.info{
	$line-normal : 1.34 !global; // 지역변수
	font-size : 15px;
	line-height : $line-normal;
	text-align : right;
  span{
		line-height : $line-normal;
	}
}

div {
    color: red;
    line-height: $line-normal;
=======
.info{
	$line-normal : 1.34 !global; // 지역변수
	font-size : 15px;
	line-height : $line-normal;
	text-align : right;
  span{
		line-height : $line-normal;
	}
}

div {
    color: red;
    line-height: $line-normal;
>>>>>>> 9a47c7bd55b64269917e311612a66adf17c1c743
}