<<<<<<< HEAD
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    @include flex-center;
    background: gray;
}

.aside {
    @include flex-center;
	background: white;
=======
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    @include flex-center;
    background: gray;
}

.aside {
    @include flex-center;
	background: white;
>>>>>>> 9a47c7bd55b64269917e311612a66adf17c1c743
}