@charset "utf-8";

/* reset */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    background: #eae8fe;
}

#app {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tit-image {
    width: 436px;
    height: 204px;
}

.cont-wrap {
    display: flex;
}
.vending-machine {
    width: 360px;
    height: 545px;
    background: #fff;
    padding: 31px 27px 28px;
}

.my-info {
    width: 360px;
    height: 545px;
    background: #fff;
}

button {
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-item {
    display: flex;
    flex-wrap: wrap;
}
.list-item .btn-item {
    width: 94px;
    height: 130px;
    padding: 9px 9px 7px;
    border: 3px solid #6327FE;
    border-radius: 10px;
    margin-bottom: 12px;
}
.list-item .btn-item .img-item {
    width: 36px;
    height: 65px;
}
.list-item .btn-item .tit-item {
    font-size: 9px;
    margin-bottom: 7px;
}
.list-item .btn-item .txt-item {
    color: #fff;
    background: #6327fe;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    padding: 0 15px;
}
input {
    border: none;
}

.cont-return .info-balance {
    display: flex;
    justify-content: space-between;
    height: 33px;
    margin-bottom: 11px;
}
.cont-return .info-balance .return-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    background: #eae8fe;
    padding: 6px 10px 7px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
}
.cont-return .info-balance .btn-return {
    width: 94px;
    font-size: 13px;
}
.cont-return .cont-put {
    display: flex;
    justify-content: space-between;
    height: 33px;
    margin-bottom: 11px;
}
.cont-return .cont-put .inp-put {
    width: 200px;
    padding: 6px 10px 7px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cont-return .cont-put .btn-put {
    width: 94px;
    font-size: 13px;
    text-align: center;
    font-size: 13px;
}
.cont-return .cont-get {
    display: flex;
    justify-content: space-between;
    height: 106px;
    overflow: hidden;
}
.cont-return .cont-get .list-item-staged {
    padding: 12px;
    background: #eae8fe;
    width: 200px;
    height: 134px;
}
.cont-return .cont-get .list-item-staged .item-staged {
    width: 170px;
    height: 46px;
    margin-bottom: 6px;
    background: #fff;
    padding: 0 8px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cont-return .cont-get .list-item-staged .item-staged .img-item {
    width: 18px;
    height: 33px;
}
.cont-return .cont-get .list-item-staged .item-staged .item-left {
    display: flex;
    align-items: center;
}
.cont-return .cont-get .list-item-staged .item-staged .txt-item {
    font-size: 9px;
    color: #333;
    margin-left: 10px;
}
.cont-return .cont-get .list-item-staged .item-staged .num-counter {
    width: 30px;
    height: 30px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
}